<!-- views/posts/show.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/header %>
 </head>
 <body>
  <% include ../partials/nav %>
<style>
    #commentHead {
        color : red;
    }
</style>
  <div class="container post post-show">
   <h2>게시판</h2>

   <div class="buttons">
    <a class="btn btn-default" href="/posts">뒤로가기</a>
    <% if(isAuthenticated && currentUser.username == post.writer) { %>
    <a class="btn btn-default" href="/posts/<%= post._id %>/edit">게시물수정</a>
    <form action="/posts/<%= post._id %>?_method=delete" method="post">
     <a class="btn btn-default" href="#" onclick="confirm('해당 게시물을 삭제 하시겠습니까?')?this.parentElement.submit():null;">게시물삭제</a>
    </form>
    <% } %>
   </div>

   <div class="contentBox">
    <h3 class="contentBoxTop"><%= post.title %></h3>
    <div class="row">
     <div class="col-sm-4 col-sm-push-8">
      <div class="post-info">
       <div><span>Created</span> : <%= post.date %> </div>
       <% if(post.updated) { %>
        <div><span>Updated</span> : <%= post.updated %> </div>
       <% } %>
      </div> <!-- post-info end -->
     </div> <!-- col end-->
     <div class="col-sm-8 col-sm-pull-4">
      <div class="post-body"><%= post.contents %></div> 
     </div> <!-- col end-->
    </div> <!-- row end -->
   </div> <!-- post-container end -->
   <h3 id="commentHead">*댓글*</h3>
   <div class="reply">
        <div class="reply_list">
            <%if(post.comments.length>0){%>
            <%var commentsList = post.comments;%>
            <%for(var i=0; i<commentsList.length; i++){%>
            <% if (i < 5 ) { %>
            <div class="reply_content">
                <div class="reply_info">작성자 : <%=commentsList[i].name%> /     작성일 : <%=dateFormatChange(commentsList[i].date)%></div>
                <div class="reply_text">내용 :   <%=commentsList[i].memo%></div>
                <button id="reply_reply">답변달기</button>
                
            </div>
            <hr>
            <%}%>
            <%}%>
            <%} else {%>
            <div class="reply_content">
                <div class="reply_info">댓글이 없습니다</div>
            </div>
            <%}%>
       </div>
    
         
    <!-- 댓글 페이징 -->
    <div class="pagination pagination-centered">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            
            <%
            for(var i=1; i<=replyPage; i++){
            %>
            <li class="page-item"><a href="#" onclick="changePage(<%=i%>);"><%=i%></a></li>
            <%}%>

            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 댓글 페이징 끝-->



   <form id="replyAction" action="/posts/reply" method="post">
    <div class="reply_writer">
        <span>작성자 : 
            <% if( req.user ) { %>
        <input type="text" class="replyWriter" id="replyWriter" name="replyWriter" placeholder="댓글작성자" value="<%=req.user.username%>" readonly=true></span>
            <%} else {%>
        <input type="text" class="replyWriter" id="replyWriter" name="replyWriter" placeholder="댓글작성자" value="비로그인 회원" readonly=true></span>    
            <%}%>
    </div>
    <div class="reply_comment">
            <textarea class="replyComment" id="replyComment" name="replyComment" rows="3" cols="30"></textarea>
    </div>
    <input type="hidden" name="replyId" id="replyId" value="<%=post._id%>">
    <button type="submit">댓글 작성</button>
    </form>

  </div> <!-- container end -->
 </body>
</html>
<script>
$("#reply_reply").click(() => {

})

function changePage(page) {
           $.get('/posts/reply?id=<%=post._id%>&page='+page+"&max=<%=post.comments.length%>", function(replyList) {
               var output = '';
        
               for(var i=0;i<replyList.length;i++) {
                   
                   output += '<div class="reply_content"><div class="reply_info"> 작성자 : '+replyList[i].name+' / '+ (replyList[i].date)+'</div>';
                  
                   output += '<div class="reply_text">'+replyList[i].memo.replace(/\\r\\n/gi, " ")+'</div></div><hr>';
                  
               }
              
               $(".reply_list").html(output);
               
           });
          
       }


</script>

<%
function dateFormatChange(date) {
    var options = {
        weekday: "short", year: "numeric", month: "short",
        day: "numeric", hour: "2-digit", minute: "2-digit"
    };
    return date.toLocaleTimeString("ko-KR", options);
}
%>
